{% block scripts %}
    <script>
        $(document).ready(function () {
            const ctx = document.getElementById('chart_{{ plot.name }}')

            const data = {
                labels: [{% for data in plot.timestamps %} {{ data }},{% endfor %}],
                datasets: [{
                    data: [{% for data in plot.values %} {{ data }}, {% endfor %}],
                    borderColor: '{{ plot.color }}',
                    backgroundColor: '{{ plot.color }}',
                }]
            }

            const config = {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'month'
                        }
                    },
                }
            }

            new Chart(ctx, {
                type: 'line',
                data: data,
                options: config
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
{#    {{ plot }}#}
{#    {{ plot.color }}#}
{#    {{ plot.values|length }}#}
{#    {{ plot.timestamps|length }}#}
{#    {% for data in plot.timestamps %} {{ data }},{% endfor %}#}
{#    {% for data in plot.values %} {{ data }}, {% endfor %}#}
    <div class="card bg-dark">
        <div class="card-header text-center">
            <h2>{{ plot.mapped_name|capfirst }}</h2>
        </div>
        <div class="card-body bg-light">
            <canvas id="chart_{{ plot.name }}" height="100"></canvas>
        </div>
    </div>
{% endblock content %}
