{% block scripts %}
    <script>
        $(document).ready(function () {
            const ctx = $('#chart_{{ plot.get_name }}_{{ plot.get_period|cut:' ' }}')

            {% with records=plot.get_records %}
                const labels = [{% for data in records %} {{ data.timestamp }},{% endfor %}]
                const values = [{% for data in records %} {{ data.value }}, {% endfor %}]
            {% endwith %}

            const data = {
                labels: labels,
                datasets: [{
                    data: values,
                    borderColor: '{{ plot.get_color }}',
                    backgroundColor: '{{ plot.get_color }}',
                }]
            }


            const config = {
                plugins: {
                    legend: {
                        display: false
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'month'
                        }
                    },
                }
            }

            new Chart(ctx, {
                type: 'line',
                data: data,
                options: config
            });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <div class="card bg-dark">
        <div class="card-header text-center">
            {% if size == 'half' %}
                <h4>{{ plot.get_mapped_name }} ({{ plot.get_period }})</h4>
            {% else %}
                <h2>{{ plot.get_mapped_name }} ({{ plot.get_period }})</h2>
            {% endif %}
        </div>
        <div class="card-body bg-light">
            <canvas id="chart_{{ plot.get_name }}_{{ plot.get_period|cut:' ' }}" height="115"></canvas>
        </div>
    </div>
{% endblock content %}
